body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: verdana;
}
.screensaver {
    height: 100vh;
    width: 100%;
    background-color: blue;
    z-index: 2;
    position: absolute;
    top:0;
    left:0;
    flex:1;
    opacity: 0;
    transition: opacity .4s linear;
}
.nosignal {
    height: 70px;
    width: 200px;
    background: rgb(3, 3, 129);
    border: 3px solid white;
    color: #fff;
    padding: 15px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    font-size: 25px;
    box-sizing: border-box;
    transition: transform 5s linear;
}
.text{
    text-align: center
}

.info {
    z-index: 1;
    margin-top:15em;
    justify-self: center;
}